import(Biostrings)

exportClasses(
    "BSgenome"
)

exportMethods(
    ## Generics defined elsewhere
    initialize, names, show, length, "[[", "$",
    ## New generics
    unload
)

export(
    buildDataFiles
)
