import(methods)
import(IRanges)
import(Biostrings)

exportClasses(
    GenomeDescription,
    BSgenome,
    GenomeData, GenomeDataList,

    ## BSgenomeForge classes:
    BSgenomeDataPkgSeed
)

export(
    ## Non-generic functions:
    available.genomes,
    BSgenome,
    available.SNPs,
    bsapply,
    GenomeData, GenomeDataList,
       
    ## Generic functions:
    organism, species,
    provider, providerVersion,
    releaseDate, releaseName,
    sourceUrl,
    SNPlocs_pkgname, SNPcount, SNPlocs,
    seqnames, seqlengths, mseqnames,
    masknames,
    injectSNPs,
    strand,
    getSeq,
    gdApply,

    ## BSgenomeForge functions:
    forgeSeqlengthsFile,
    forgeSeqFiles,
    forgeMasksFiles,
    forgeBSgenomeDataPkg
)

exportMethods(
    ## Methods for generics defined elsewhere:
    names, show, length, "[[", "$", score, 

    ## Methods for generics defined in this package:
    organism, species, provider, providerVersion,
    releaseDate, releaseName, sourceUrl,
    SNPlocs_pkgname, SNPcount, SNPlocs,
    seqnames, seqlengths, mseqnames,
    masknames,
    injectSNPs,
              gdApply,

    ## BSgenomeForge methods:
    forgeBSgenomeDataPkg
)

